<style>
    .background-cache {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: opacity 0.2s 0.1s linear;
        background: #000;
        opacity: 0;
        z-index: 1;
    }  
    aside {
        position: absolute;
        width: 50%;
        border-left: 1px solid #333;
        height: 100%;
        transition: transform 0.3s  cubic-bezier(0.25, 0.46, 0.45, 0.94);
        top: 0;
        z-index: 2;
        left: 0;
    }

    :host {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    ::slotted(*) {
        box-sizing: border-box
    }
</style>
<aside>
    <slot></slot>
</aside>
<div class="background-cache"></div>